body {
    background-color: #e8e6e6;
   
   }
  
  #container{
      width: 100%;
      position: relative;
      
      
  }
  .serverDiv{
    display: flex;
    width: 56rem;
    height: 35rem;
    border: #000000 2px solid;
    border-radius: 2rem;
    position: absolute;
    left: 21%;
    margin-top: 2rem;
}
    
  
  .verticalLine{
    border-right: 1px solid green;
    border-style: dashed;
    height: 40rem;
    position:absolute;

  }
  .verticalLine1{
    left: 36%;
   
  }
  .verticalLine2{
    left: 50.8%;
  }
  .verticalLine3{
    left: 65.3%;
  }
  .compA{
     height: 500px;
    margin-left: 2rem
  }
  #verticalsContainer{
    width: 100%;
    
  }
  .margingTop2{
    margin-top: 2rem;
  }
  .margingTop5{
    margin-top: 5rem;
  }

  .margingTop7{
    margin-top: 7rem;
  }
  .margingTop9{
    margin-top: 9rem;
  }
  .margingTop10{
    margin-top: 10rem;
  }
  .marginLeft2{
     margin-left: 2rem;
 }
 .marginLeft1{
  margin-left: 1rem;
}

 
 .marginLeft6{
     margin-left: 6rem;
 }
 .marginright14{
     margin-right: 14rem;
 }
 .paddingLeft18{
    padding-left: 18rem;
 }
  .connectorsDiv{
    width: 14rem;
    border-radius: 2rem;
  }
  .connectorsDiv div{
    position: relative;
      text-align: center;
      padding-top: 1.5rem;
  }
  .connectorsDiv span{
    display: none;
    font-size: 14px;
    font-weight: bold;
}
.compBtn{
  border-radius: 10px; 
  cursor: pointer;
  color: black;
  font-size: 13px;
  font-weight: bold;
  border: none;
  outline: white; 
  
 
}

.compBtnBlue{
  background: #0099cc; 
  background: -webkit-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); 
  background: -o-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); 
  background: -moz-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); 
  background: linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); 
 
}
.compBtnYellow{
  background: #ddb340; 
  background: -webkit-linear-gradient(#f3e4bb, #e7d195, #f0cc69, #ddb340, #e2b027, #e7d195); 
  background: -o-linear-gradient(#f3e4bb, #e7d195, #f0cc69, #ddb340, #e2b027, #e7d195); 
  background: -moz-linear-gradient(#f3e4bb, #e7d195, #f0cc69, #ddb340, #e2b027, #e7d195); 
  background: linear-gradient(#f3e4bb, #e7d195, #f0cc69, #ddb340, #e2b027, #e7d195); 
 
}
.compBtnAqua{
  background: #52d3da; 
  background: -webkit-linear-gradient(#e5f4f9, #bff2f5, #97ebf0, #52d3da, #73dde2, #97ebf0); 
  background: -o-linear-gradient(#e5f4f9, #bff2f5, #97ebf0, #52d3da, #73dde2, #97ebf0); 
  background: -moz-linear-gradient(#e5f4f9, #bff2f5, #97ebf0, #52d3da, #73dde2, #97ebf0); 
  background: linear-gradient(#e5f4f9, #bff2f5, #97ebf0, #52d3da, #73dde2, #97ebf0); 
 
}
.compBtn:hover { outline: white; }

.compBtn:active {
 outline: white; 
  box-shadow: 5px 5px rgb(192, 168, 123);
  transform: translateY(4px);
}
.compFheight{
  height: 150px;
}
.componentHeight{
  height: 62px;
}

  
  #secHalfServCompDivID{
      padding-top: 2%;
      width: 50%;
      display: flex;
      margin: 2rem 0rem;
  }

  #secHalfServCompDivID div{
      width:50%;
      text-align: center;
  }
  .btnWidth{
      width: 255px;

  }
  
  #sectionNaming{
    display: none;
    text-align: center;
    position: fixed;
    bottom: 4rem;
    width: 100%;
  }
  #sectionNaming span{
      display: inline-block;
      width: 14%;
      font-weight: bold;
      color: green;
  }

  .textAlingCenter{
    text-align: center;
  }
  .imgFan{
    width: 50px;
  }
.rotate {
  animation: rotation 5s infinite linear;
}
.rotate2 {
  animation: rotation 2s infinite linear;
}
.rotate1 {
  animation: rotation 1s infinite linear;
}
.rotate08 {
  animation: rotation 0.8s infinite linear;
}
.rotate05 {
  animation: rotation 0.5s infinite linear;
}
.rotate02 {
  animation: rotation 0.2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
 .nxtButton{
  background-color: lightskyblue;
  width: 10rem;
}
 
 .nxtButtonDiv{
   display: flex;
   justify-content: flex-end;
  
 }
 .displayNone{
  display: none;
 }
 #notificationDivID{
    width: 18rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
 

  