<!DOCTYPE html>
<html>
<head>
  <title>FaultyFan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/faultyFan.js"></script>

</head>
<body>

<div id="container">
<h3 class="textAlingCenter">A Method To Determine the Most Appropriate time to replace faulty FAN</h3>
    <div id="verticalsContainer">
        <div class="verticalLine verticalLine1"></div>
        <div class="verticalLine verticalLine2"></div>
        <div class="verticalLine verticalLine3"></div> 
    </div>
    <div>
      
        <div id="serverDivID" class="serverDiv">
            <div id="zone1" class="connectorsDiv">
                <div>
                    <img src="css/fan-icon-22.jpg"  id="zone1Image" class="imgFan rotate" alt="" />
                </div>
                <div > 
                    <button id="componentAID" class="compBtn componentHeight compBtnBlue" >LAN Connector</button><br>
                    <span>Component A</span>
                </div>
                <div class="margingTop7"> 
                    <button id="componentBID" class="compBtn componentHeight compBtnBlue">Network LAN Controller</button><br>
                    <span>Component B</span>
                </div>
                <!--  -->
            </div>
            <div id="zone2" class="connectorsDiv">
                <div>
                    <img src="css/fan-icon-22.jpg"  id="zone2Image" class="imgFan rotate" alt="" />
                </div>
                <div > 
                    <button id="componentCID" class="compBtn componentHeight compBtnBlue">Serial Connector</button><br>
                    <span>Component C</span>
                </div>
                <div class="margingTop5"> 
                    <button id="componentDID" class="compBtn componentHeight compBtnBlue">Serial Port Sharing</button><br>
                    <span>Component D</span>
                </div>
                <div class="margingTop5"> 
                    <button id="componentEID" class="compBtn componentHeight compBtnBlue">Mother Board Serial Controller</button><br>
                    <span>Component E</span>
                </div>
            </div>
             <div id="zone3" class="connectorsDiv">
                <div>
                    <img src="css/fan-icon-22.jpg"  id="zone3Image" class="imgFan rotate" alt="" />
                </div>
                <div class="margingTop2 ">
                    <button id="componentFID" class="btnWidth compFheight compBtn compBtnYellow marginLeft1">Baseboard Management Controller</button><br>
                    <span>Component F</span>
                    
                </div>
                <div class="margingTop9  ">
                    <button id="componentGID" class=" compBtn componentHeight compBtnYellow">System Interface</button><br>
                    <span>Component G</span>
                </div>
             </div>
             <div id="zone4" class="connectorsDiv">
                <div>
                    <img src="css/fan-icon-22.jpg"  id="zone4Image" class="imgFan rotate" alt="" />
                </div>
                <div class="margingTop2 marginLeft2 ">
                    <button id="componentHID" class="compBtn  componentHeight compBtnAqua">Non-volatile Storage</button><br>
                    <span>Component H</span>
                    
                </div>
                <div class="margingTop5  marginLeft2">
                    <button id="componentIID" class="compBtn componentHeight compBtnAqua">Sensors & Control Circuit</button><br>
                    <span>Component I</span>
                </div>
             </div>
             
             
        </div>
        <div class="nxtButtonDiv" id="nxtBtnDivID">
          <button class="nxtButton" id="nxtBtnID">Next</button>
        </div>
        <div id="sectionNaming">
            <span>Section 1</span>
            <span>Section 2</span>
            <span>Section 3</span>
            <span>Section 4</span>
           
       </div>
       
    </div>
    <div id="notificationDivID" class="displayNone">
       
    </div> 
    
</div>
 
</body>
</html>
